<body>
  <div class="container-fluid">
    <form [formGroup]="viewForm" class="mx-auto">
      <h4 class="text-center">
        Vista
      </h4>

      <div class="mb-3 mt-5">
        <label for="categoryFor" class="form-label">
          Categoría
        </label>
        <input type="text" class="form-control" id="idCategory" formControlName="category">
      </div>

      <div class="mb-3">
        <label for="titleFor" class="form-label">
          Título
        </label>
        <input type="text" class="form-control" id="inputTitle" formControlName="title">
      </div>

      <div class="mb-3">
        <label for="noteFor" class="form-label">
          Nota
        </label>
        <div>
          <textarea formControlName="body" rows="mx-auto" class="form-control" id="inputBody" aria-disabled="true"></textarea>
        </div>
      </div>

      <div class="buttons mb-3 mt-5">
        <button type="submit" class="btn btn-danger py-2 px-4 rounded" (click)="back()" style="flex: 1;">
          Regresar
        </button>&nbsp;
      </div>
    </form>
  </div>
</body>
